.idea

db.sqlite3

__pycache__

venv/

.venv


0001_initial.py

0002_initial.py

0003_initial.py

0004_initial.py

0005_initial.py

0006_initial.py

recipe_data.csv

secret.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.ebextensions

requirements.txt