asgiref==3.5.0
autopep8==1.6.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
boto3==1.21.27
botocore==1.24.27
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
Cython==0.29.14
Django==4.0.3
django-ninja==0.17.0
gensim==3.8.3
idna==3.3
jmespath==1.0.0
JPype1==1.3.0
konlpy==0.6.0
lxml==4.8.0
mecab-python @ file:///C:/Users/ecihs/dev/10team/venv/Lib/site-packages/mecab_python-0.996_ko_0.9.2_msvc-cp38-cp38-win_amd64.whl
mysql==0.0.3
mysqlclient==2.1.0
numpy==1.22.3
pandas==1.4.1
pd==0.0.4
Pillow==9.0.1
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
s3transfer==0.5.2
scipy==1.8.0
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.1.1
tzdata==2021.5
urllib3==1.26.9
