@font-face {
    src: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/font/SB_L.ttf);
    font-family: "SB_L";
}
.fullcontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#SBL_font {
    font-family: "SB_L";
}

.SBL_font {
    font-family: "SB_L";
}

p {
    font-family: SB_L;
    color: white;
}
@media (max-width: 1000px) {
    p {
        color: white;
        font-size: 25px;
    }
}

.box {
    position: absolute;
    top: 45%;
    left: 43%;
    text-align: center;
    font-weight: bolder;
}

@media (max-width: 1000px) {
    .box {
        position: absolute;
        top: 37%;
        left: 35%;
        text-align: center;
        font-weight: bolder;
    }
}

.cube {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}

.cube2 {
    position: absolute;
    top: 34%;
    left: 75%;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube2 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
}

.cube2 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #5eb6dc);
    transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #222;
    transform: rotateX(90deg) translateZ(75px);
}

.top2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #222;
    transform: rotateX(90deg) translateZ(75px);
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #0f0;
    transform: translateZ(-190px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.6), 0 0 600px rgba(0, 255, 0, 0.8), 0 0 800px rgba(0, 255, 0, 1);
}

.top2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #5eb6dc;
    transform: translateZ(-190px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(45, 158, 206, 0.2), 0 0 200px rgba(45, 158, 206, 0.4), 0 0 300px rgba(45, 158, 206, 0.6), 0 0 400px rgba(45, 158, 206, 0.6), 0 0 600px rgba(45, 158, 206, 0.8), 0 0 800px rgba(45, 158, 206, 1);
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 11pt;
    outline: none;
    font-family: SB_L;
}
@media (max-width: 1000px) {
    button {
        color: #444444;
        background: #F3F3F3;
        border: 1px #DADADA solid;
        padding: 5px 10px;
        border-radius: 2px;
        font-weight: bold;
        font-size: 20pt;
        outline: none;
        font-family: SB_L;
    }
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

.moveworkout {
    position: absolute;
    top: 72%;
    left: 47.5%;
}

@media (max-width: 1000px) {
    .moveworkout {
        position: absolute;
        top: 53%;
        left: 43%;
    }
}