.itemtext1 {
    margin-left: 11vw;
    display: inline;
    color: white;
    font-size: 1.3vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .itemtext1 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 3vw;
        font-weight: lighter;
    }
}

.itemtext2 {
    margin-left: 4vw;
    display: inline;
    color: white;
    font-size: 1.3vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .itemtext2 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 3vw;
        font-weight: lighter;
    }
}

.itemtext3 {
    margin-left: 4vw;
    display: inline;
    color: white;
    font-size: 1.3vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .itemtext3 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 3vw;
        font-weight: lighter;
    }
}

.itemtext4 {
    margin-left: 4vw;
    display: inline;
    color: white;
    font-size: 1.3vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .itemtext4 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 3vw;
        font-weight: lighter;
    }
}

.itemtext5 {
    margin-left: 4vw;
    display: inline;
    color: white;
    font-size: 1.3vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .itemtext5 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 3vw;
        font-weight: lighter;
    }
}

.itemtext6 {
    margin-left: 4vw;
    display: inline;
    color: white;
    font-size: 1.3vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .itemtext6 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 3vw;
        font-weight: lighter;
    }
}

.itemlogo {
    margin-left: 21vw;
    /*float: right;*/
    width: 25vw;
}
@media (max-width: 1000px) {
    .itemlogo {
        margin-left: 6vw;
        width: 28vw;
        height: 5vw;
        margin-top: 2.4vw;
    }
}

.fullcontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 145vh;
    background-color: black;
    color: white;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
}

.text_box{
    width: 650px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 3vw;
}
.description{
    margin-left: 1vw;
    font-size: 20px;
}
@media (max-width: 1000px) {
    .description{
        margin-left: 1vw;
        font-size: 23px;
    }
}
.slice_sentence{
    margin-left: 1.2vw;
    font-size: 20px;
}
@media (max-width: 1000px) {
    .slice_sentence {
        margin-left: 2.1vw;
        font-size: 23px;
    }
}
.input_desc{
    font-size: 22px;
}
.count{
    margin-right: 15px;
    padding-top: 9px;
}
.submit_btn{
    font-size: 17px;
}
.msg{
    font-family: SB_L;
    font-size: 16px;
    color: red;
}
.more{
    margin-top: 3%;
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

.box {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

#SBL_font {
    font-family: "SB_L";
}

.SBL_font {
    font-family: "SB_L";
}

p {
    font-family: SB_L;
    color: white;
    font-size: 16px;
}


.hyperlink {
    text-decoration-line: none;
    color: #0f0;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

::-webkit-scrollbar {
    width: 0;
}


#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}