@font-face {
    src: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/font/SB_L.ttf);
    font-family: "SB_L";
}

html {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SB_L, sans-serif;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-image: url("../img/commu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
}


@media (max-width: 1000px) {
    #particles-js {
        width: 100%;
        height: 100vh;
        background-image: url("../img/commu.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 31%;
}

@media (max-width: 1000px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 12%;
        left: 14%;
    }
}


.particles {

}

@media (max-width: 1000px) {
    .particles {
        padding-top: 25vw;
    }
}

.contentbox {

}

@media (max-width: 1000px) {
    .contentbox {
        padding-top: 5vw;
    }
}

.article_title {
    margin-top: 3%;
    resize: none;
    border-color: black;
    /*line-height: ;*/
}

@media (max-width: 1000px) {
    .article_title {
        margin-top: 3%;
        resize: none;
        border-color: black;
        font-size: 1.5vw;
        /*line-height: ;*/
    }
}
.editor{
    background-color: white;
}

.article_content {
    margin-top: 2%;
    resize: none;
    border-color: black;
}

@media (max-width: 1000px) {
    .article_content {
        margin-top: 2%;
        resize: none;
        border-color: black;
        font-size: 1.5vw;
    }
}

/*.submit_button {*/
/*    margin-left: 40%;*/
/*    width: 20%;*/
/*    height: 4vh;*/
/*    cursor: pointer;*/
/*    border-color: black;*/
/*    margin-top: 1.5vw;*/
/*    }*/


/*@media (max-width: 1000px) {*/
/*    .submit_button {*/
/*        margin-left: 20%;*/
/*        width: 60%;*/
/*        height: 4vh;*/
/*        cursor: pointer;*/
/*        border-color: black;*/
/*        margin-top: 10vw;*/
/*        font-size: 3vw;*/
/*    }*/
/*}*/

.submit_button{
    width: 140px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #ebf2ed;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    outline: none;
    margin-left: 39.5%;
    margin-top: 20px;
    font-weight: 600;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;

}

@media (max-width: 1000px) {
    .submit_button {
        width: 164px;
        height: 52px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: #000000;
        background-color: #a2e086;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
        transition: all 0.3s ease 0s;
        outline: none;
        margin-left: 38.5%;
        margin-top: 74px;
        font-weight: 600;
        font-size: 22px;
    }
}
.submit_button:hover {
    background-color: #73d376;
    box-shadow: 0px 15px 20px rgb(46 229 157 / 40%);
    color: #fff;
    transform: translateY(-7px);
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

.back_btn{
    width: 100px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: white;
    background-color: #298bbc;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    outline: none;
    margin-left: 1%;
    margin-top: 20px;
    font-weight: 400;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

@media (max-width: 1000px) {
    .back_btn {
        width: 165px;
        height: 54px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: white;
        background-color: #298bbc;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
        transition: all 0.3s ease 0s;
        outline: none;
        margin-left: 1%;
        margin-top: 87px;
        font-weight: 400;
        font-size: 21px;
    }
}

.back_btn:hover {
    background-color: #73d3be;
    box-shadow: 0px 15px 20px rgb(46 229 157 / 40%);
    color: #fff;
    transform: translateY(-7px);
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

.base {
    position: absolute;
}
