@font-face {
    src: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/font/SB_L.ttf);
    font-family: "SB_L";
}

#SBL_font {
    font-family: "SB_L";
}

.SBL_font {
    font-family: "SB_L";
}

boby {
    height: 100%;
}

@media (max-width: 1000px) {
    body {
        height: 100vh;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SB_L, sans-serif;
}


#particles-js {
    width: 100%;
    height: 100vh;
    background-image: url("../img/commu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
}

.contain {
    position: absolute;
    top: 10%;
    left: 10%;
}

@media (max-width: 1000px) {
    .contain {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
}

/*a {*/
/*    color: white;*/
/*}*/

/*p {*/
/*    color: white;*/
/*}*/

.text1 {
    color: white;
    text-decoration-line: none;
}

@media (max-width: 1000px) {
    .text1 {
        color: white;
        text-decoration-line: none;
        font-size: 3vw;
    }
}
.article_container{
    background-color: white;
    position: absolute;
    top: 8%;
    width: 50%;
}

@media (max-width: 1000px) {
    .article_container{
        background-color: white;
        position: absolute;
        top: 8%;
        width: 70%;
    }
}


.title{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
}
.under_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.author {
    margin-right: 30%;
    text-decoration-line: none;
}

@media (max-width: 1000px) {
    .author {
        margin-right: 7%;
        text-decoration-line: none;
        font-size: 22px;
    }
}

.like{

}
@media (max-width: 1000px) {
    .like{
        font-size: 20px;
    }
}


.delete_edit{
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
}
.delete{
    text-decoration-line: none;
    color: gray;
    margin-right: 1%;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;

}
.edit{
    text-decoration-line: none;
    color: gray;
    margin-right: 3%;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;

}


.content{
    margin: 2%;
}



/*.text2 {*/
/*    color : white;*/
/*}*/

/*@media (max-width: 1000px) {*/
/*    .text2 {*/
/*        color : white;*/
/*        font-size: 3vw;*/
/*    }*/
/*}*/

/*.text_input{*/

/*}*/
/*@media (max-width: 1000px) {*/
/*    .text_input{*/

/*    }*/
/*}*/

/*.text3 {*/
/*    color: white;*/
/*}*/

/*@media (max-width: 1000px) {*/
/*    .text3 {*/
/*        font-size: 3vw;*/
/*        color: white;*/
/*    }*/
/*}*/

/*@media (max-width: 1000px) {*/
/*    .submit_button {*/
/*        font-size: 3vw;*/
/*        color: white;*/
/*    }*/
/*}*/
.comment_container{
    margin-top: 10%;
}
.text_input{
    width: 80%;
    resize: vertical;
    margin-left: 4%;
}

@media (max-width: 1000px) {
    .text_input{
        width: 80%;
        resize: vertical;
        background-color: aliceblue;
        margin-left: 4%;
    }
}


.submit_button{

}
.comment_author{
    width: 115px;
    height: 37px;
}

.comment {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 4%;
    margin-top:1%
}
.author_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.comment_content{
    overflow-y: auto;
    width: 60%
}
.delete_comment{
    text-decoration-line: none;
}
.edit_comment{
    text-decoration-line: none;
}
.comment_form{
    width: 500px;
}
.comment_input {
    width: 300px;
    margin-left: 24%;
}

@media (max-width: 1000px) {
    .comment_input {
        width: 300px;
        margin-left: 24%;
        background-color: aliceblue;
    }

}

#edit_comment_box{
    display:none;
}

.back_btn{
    position: absolute;
    top: 5%;
    left: 44%;
}