.fullcontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url("/static/img/pointer.png") 2 6, default;
}

/*임시로 백그라운드 칼라 넣어놨어요! 구역구분할라고 / 나중에 삭제예정*/
.maincontain {
    position: fixed;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    background-color: gray;
    /*border-radius: 3%;*/
    border-style: groove;
    border-color: lightgreen;
    border-width: medium;
}

/*임시로 백그라운드 칼라 넣어놨어요! 구역구분할라고 / 나중에 삭제예정*/
.firstbox {
    width: 30%;
    height: 50%;
    /*background-color: cornflowerblue;*/
}

/*임시로 백그라운드 칼라 넣어놨어요! 구역구분할라고 / 나중에 삭제예정*/
.secondbox {
    width: 30%;
    height: 50%;
    /*background-color: yellow;*/
}

/*임시로 백그라운드 칼라 넣어놨어요! 구역구분할라고 / 나중에 삭제예정*/
.thirdbox {
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    height: 80%;
    background-color: pink;
}

/*임시로 백그라운드 칼라 넣어놨어요! 구역구분할라고 / 나중에 삭제예정*/
.fourthbox {
    position: absolute;
    width: 30%;
    height: 50%;
    /*background-color: lightgreen;*/
    /*float:right;*/
    top: 0;
    left: 70%;
}

/*임시로 백그라운드 칼라 넣어놨어요! 구역구분할라고 / 나중에 삭제예정*/
.fifthbox {
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: orangered;
    /*float:right;*/
    top: 50%;
    left: 70%;
}

/*임시로 백그라운드 칼라 넣어놨어요! 구역구분할라고 / 나중에 삭제예정*/
.inputbox {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 40%;
    height: 20%;
    /*background-color: white;*/
}

input[type="text"] {
    font-family: SB_L;
}

@font-face {
    src: url("../font/SB_L.ttf");
    font-family: "SB_L";
}

#SBL_font {
    font-family: "SB_L";
}