html {
    overflow: hidden;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

}

.section {
    width: 100%;
    height: 100%;
    position: relative;
}

#section1 {
    background-color: aliceblue;
}

#section2 {
    background-color: lightpink;
}

#section3 {
    background-color: coral;
}

#section4 {
    background-color: aqua;
}

.eatback {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}


.eatcategory1 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 2vw;
}

.eatcategory2 {
    position: absolute;
    top: 20%;
    left: 60%;
    font-size: 2vw;
}