.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    background-color: black;
    cursor: url("/static/img/pointer.png") 2 6, default;
}

@media (max-width: 1000px) {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 11vw;
        background-color: black;
        cursor: url(/static/img/pointer.png) 2 6, default;
    }
}




@media (max-width: 1000px) {
    p {
        font-size: 1vw;
    }
}

.movemain {
    margin-left: 2vw;
    display: inline;
    font-size: 4vw;
    color: orangered
}

@media (max-width: 1000px) {
    .movemain {
        margin-left: 1vw;
        display: inline;
        font-size: 8vw;
        color: orangered;
    }
}

.eattext1 {
    margin-left: 6vw;
    display: inline;
    color: white;
    font-size: 1vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .eattext1 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 1vw;
        font-weight: lighter;
    }
}

.eattext2 {
    margin-left: 2vw;
    display: inline;
    color: white;
    font-size: 1vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .eattext2 {
        margin-left: 2vw;
        display: inline;
        color: white;
        font-size: 1vw;
        font-weight: lighter;
    }
}

.eattext3 {
    margin-left: 2vw;
    display: inline;
    color: white;
    font-size: 1vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .eattext3 {
        display: none;
    }
}

.eattext4 {
    margin-left: 2vw;
    display: inline;
    color: white;
    font-size: 1vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .eattext4 {
        margin-left: 10vw;
        display: inline;
        color: white;
        font-size: 1vw;
        font-weight: lighter;
    }
}

.eattext5 {
    margin-left: 2vw;
    display: inline;
    color: white;
    font-size: 1vw;
    font-weight: lighter;
}

@media (max-width: 1000px) {
    .eattext5 {
        margin-left: 0vw;
        display: inline;
        color: white;
        font-size: 1vw;
        font-weight: lighter;
    }
}

.eatlogo {
    float: right;
    width: 25vw;
}

@media (max-width: 1000px) {
    .eatlogo {
        display: none;
    }
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
    width: 1000px;
    height: 1000px;
}

@media (max-width: 1000px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8vh auto;
        width: 100%;
        height: 100%;
    }
}

#container img {
    width: 80%;
    height: 50%;
}

@media (max-width: 1000px) {
    #container img {
        width: 70%;
        height: 50%;
    }
}

.ingredients {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.step {
    margin-top: 5vh;
}

@media (max-width: 1000px) {
    .step {
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

.animation-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 220vh;
    z-index: -1;
    background: #ececec;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .animation-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200vh;
        z-index: -1;
    }
}

.shadow{
  font-family:Mr Dafoe, sans-serif;
  text-align:center;
  text-shadow: 0 -1.5px 0 #333,
    0 3px 4px rgba(0,0,0,.4),
    0 4.5px 5px rgba(0,0,0,.15),
    0 15px 5px rgba(0,0,0,.18),
    0 7.5px 5px rgba(0,0,0,.21);
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -200px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-direction: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-direction: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-direction: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}


#container {
    color: black;
}

.foodimg {
    border: black 1px solid;
    border-radius: 5%;
}