.mypage{
    width:100px;
    margin: auto 0px;
    height: 25px;
    background-color: #e1c1a1;
    border-style: solid;
    border-color: #cfd1ce;
    border-radius: 15%;
    color: white;
    text-decoration-line: none;
    text-align: center;
    font-size: 14px;
}
.profile_img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.follow{
    width:70px;
    margin: 9px 0;
    height: 25px;
    background-color: #5eb6dc;
    border-style: solid;
    border-color: #cfd1ce;
    /*border-radius: 15%;*/
    color: white;
    text-decoration-line: none;
    text-align: center;
    font-size: 1vw;
}
.followee{
    width:90px;
    margin: 12px 0;
    height: 25px;
    background-color: #7e858a;
    border-style: solid;
    border-color: #cfd1ce;
    /*border-radius: 15%;*/
    color: white;
    text-decoration-line: none;
    text-align: center;
    font-size: 1vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("/static/img/backtmp.png");
    background-size: cover;
    z-index: -1;
    cursor: url("/static/img/pointer.png") 2 6, default;
}

#SBL_font {
    font-family: "SB_L";
}

.SBL_font {
    font-family: "SB_L";
}

a {
    color: white;
    font-family: SB_L;
}

p {
    color: white;
    font-family: SB_L;
}

.box {
    margin-left: 34.5vw;
}

.box2 {
    margin-left: -2vw;
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
    cursor: url("/static/img/press.png") 2 2, default;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

.movemypage {
    position: absolute;
    top: 3%;
    left: 93%;
    text-decoration: none;
}

.s_descs {
    font-size: 1vw;
}