.fullmain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    cursor: url("/static/img/pointer.png") 2 6, default;
}

.firstvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: cornflowerblue;
}

.secondvideo {
    position: fixed;
    top: 50%;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: indianred;
}

.thirdvideo {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: greenyellow;
}

.fourthvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: lightseagreen;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

video:hover {
    opacity: 1;
}

@font-face {
    src: url("../font/SB_L.ttf");
    font-family: "SB_L";
}

#SBL_font {
    font-family: "SB_L";
}

.movepagebtn {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20vw;
    cursor: url("/static/img/press.png") 2 2, default;
}

@media (max-width: 1000px) {
    .movepagebtn {
        position: absolute;
        top: 40%;
        left: 30%;
        width: 40vw;
        cursor: url("/static/img/press.png") 2 2, default;
    }
}

@media (max-width: 1000px) {
    p {
        font-size: 3vw;
        cursor: url("/static/img/press.png") 2 2, default;
    }
}