@font-face {
    src: url("../font/SB_L.ttf");
    font-family: "SB_L";
}

.fullcontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/arcedeback.png");
    background-size: cover;
    cursor: url("/static/img/pointer.png") 2 6, default;
}

@media (max-width: 1000px) {
    .fullcontain {
        position: absolute;
        top: 0;
        left: -174%;
        width: 300%;
        height: 126vh;
        background-image: url(../img/arcedeback.png);
        background-size: cover;
        cursor: url("/static/img/pointer.png") 2 6, default;
    }
}

.box {
    position: relative;
    top: 40%;
    left: 36.5%;
    width: 30%;
    height: 30%;
    color: white;
    font-weight: bolder;
    font-family: SB_L;
    text-align: center;
}

@media (max-width: 1000px) {
    .box {
        position: relative;
        top: 40%;
        left: 60%;
        width: 38%;
        height: 30%;
        color: white;
        text-align: center;
        font-size: 5vw;
    }
}

.movesignup {
    color: white;
    cursor: url("/static/img/press.png") 2 2, default;

}

@media (max-width: 1000px) {
    p {
        font-size: 4vw;
    }
}