.fullcontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/arcedeback.png");
    background-size: cover;
}

@media (max-width: 1000px) {
    .fullcontain {
        position: absolute;
        top: 0;
        left: -192%;
        width: 300%;
        height: 108vh;
        background-image: url(../img/arcedeback.png);
        background-size: cover;
    }
}

.box {
    position: relative;
    top: 40%;
    left: 41.5%;
    width: 30%;
    height: 30%;
    color: white;
}

.headtext {

}