.fullcontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/arcedeback.png");
    background-size: cover;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
}

@media (max-width: 1000px) {
    .fullcontain {
        position: absolute;
        top: 0;
        left: -174%;
        width: 300%;
        height: 126vh;
        background-image: url(../img/arcedeback.png);
        background-size: cover;
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
    }
}

.box {
    position: relative;
    top: 40%;
    left: 29.5%;
    width: 45%;
    height: 30%;
    color: white;
}

@media (max-width: 1000px) {
    .box {
        position: relative;
        top: 40%;
        left: 60.5%;
        width: 37%;
        height: 30%;
        color: white;
        font-size: 4vw;
    }
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    color: gray;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

@media (max-width: 1000px) {
    .btn {
        font-size: 3vw;
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
    }
}

.first_p {
    text-align: center;
}

@media (max-width: 1000px) {
    .first_p {
        font-size: 5vw;
        text-align: center;
    }
}

.movepage {
    position: relative;
    top: 20%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}


.msg {
    text-align: center;
}

.form_css {
    text-align: center;
}

@media (max-width: 1000px) {
    .form_css {
        font-size: 5vw;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .input_1 {
        font-size: 6.5vw;
    }
}

@media (max-width: 1000px) {
    .input_2 {
        font-size: 4vw;
        margin-top: 6vw;
    }
}