@font-face {
    src: url("../font/SB_L.ttf");
    font-family: "SB_L";
}

#SBL_font {
    font-family: "SB_L";
}

.SBL_font {
    font-family: "SB_L";
}

.maincontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
}

.loginbox {
    position: absolute;
    top: 47.5%;
    left: 5%;
    width: 15vw;
    height: 6.5vw;
    /*background-color: gray;*/
}

@media (max-width: 1000px) {
    .loginbox {
        position: absolute;
        top: 13%;
        left: 15%;
        width: 30%;
        height: 30%;
        /* background-color: gray; */
    }
}

.idcontain {
    width: 15vw;
    height: 3.5vw;
    /*background-color: blue;*/
}

@media (max-width: 1000px) {
    .idcontain {
        width: 40vw;
        height: 15vw;
        /* background-color: blue; */
    }
}

@media (max-width: 1000px) {
    .textbox input[type="text"] {
        width: 90%;
        height: 1vh;
        line-height: normal;
        padding: 0.8em 0.5em;
        font-family: inherit;
        border: 1px solid #999;
        border-radius: 0;
        outline-style: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 3vw;
    }
}

@media (max-width: 1000px) {
    .textbox input[type="password"] {
        width: 90%;
        height: 1vh;
        line-height: normal;
        padding: 0.8em 0.5em;
        font-family: inherit;
        border: 1px solid #999;
        border-radius: 0;
        outline-style: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 3vw;
    }
}

.pwcontain {
    width: 15vw;
    height: 3vw;
    /*background-color: red;*/
}

@media (max-width: 1000px) {
    .pwcontain {
        width: 40vw;
        height: 3vw;
        /* background-color: red; */
    }
}


input[type="text"], input[type="password"] {
    height: auto; /* 높이 초기화 */
    line-height: normal; /* line-height 초기화 */
    padding: .8em .5em; /* 여백 설정 */
}

.textbox input[type="text"], .textbox input[type="password"] {
    width: 90%; /* 원하는 너비 설정 */
    height: auto; /* 높이값 초기화 */
    line-height: normal; /* line-height 초기화 */
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: inherit; /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0; /* iSO 둥근모서리 제거 */
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.signin_desc{
    position: absolute;
    top: 65%;
    left: 4%;
    display: none
}

.signin_desc_msg1{
    font-family: "SB_L", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 21px;
    color:white;
 }
@media (max-width: 1000px) {
    .signin_desc_msg1{
        display:none;
    }
}

.signin_desc_msg2 {
    font-family: "SB_L", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 21px;
    color:white;
 }

@media (max-width: 1000px) {
    .signin_desc_msg2{
        display:none;
    }
}

.music {
    z-index: 2;
    position: absolute;
    top: 1vw;
    left: 1.5vw;
    width: 4vw;
    background-color: orangered;
    border-radius: 30%;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

@media (max-width: 1000px) {
    .music {
        z-index: 2;
        position: absolute;
        top: 1vw;
        left: 1vw;
        width: 10vw;
        background-color: orangered;
        border-radius: 30%;
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
    }
}

.modalonbox {
    z-index: 2;
    position: absolute;
    top: 6%;
    left: 21%;
    width: 24%;
    height: 88%;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
    opacity: 0;
}

@media (max-width: 1000px) {
    .modalonbox {
        z-index: 2;
        position: absolute;
        top: 40%;
        left: 23%;
        width: 20%;
        height: 18%;
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
        opacity: 1;
    }
}

.modalonbox:hover {
    opacity: 1;
}

@media (max-width: 1000px) {
    .modalonbox:hover {
        opacity: 1;
    }
}

.signup_desc{
    display:none;
}

@media (max-width: 1000px) {
    .signup_desc{
        display: inline;
    }
}

.signup_desc_img{
    position: absolute;
    top: 4%;
    left: 7%;
    width: 15vw;
}
@media (max-width: 1000px) {
    .signup_desc_img{
        top: 41%;
        width: 36vw;
        left: 50%;
    }
}
.signup_desc_msg1{
    font-family: "SB_L", sans-serif;
    position: absolute;
    left: 11%;
    top: 13.5%;
    color: white;
}
@media (max-width: 1000px) {
    .signup_desc_msg1{
        top: 47%;
        left: 60%;
        font-size: 22px;
    }
}
.signup_desc_msg2{
    font-family: "SB_L", sans-serif;
    position: absolute;
    left: 11%;
    top: 17.5%;
    color: white;
}
@media (max-width: 1000px) {
    .signup_desc_msg2{
        left: 59%;
        top: 50%;
        font-size: 23px;
    }
}
.hoverimg {
    display: none;
    /*position: absolute;*/
    /*top: 4%;*/
    /*left: 7%;*/
    /*width: 15vw;*/
}

@media (max-width: 1000px) {
    .hoverimg {
        display: none;
        /*position: absolute;*/
        /*top: -20%;*/
        /*left: 100%;*/
        /*width: 50vw;*/
    }
}

.hovertext1 {
    display: none;
    /*font-family: "SB_L", sans-serif;*/
    /*position: absolute;*/
    /*left: 11%;*/
    /*top: 13.5%;*/
    /*color: white;*/
}

@media (max-width: 1000px) {
    .hovertext1 {
        display: none;
        /*position: absolute;*/
        /*left: 171%;*/
        /*top: 32.5%;*/
        /*color: white;*/
        /*font-size: 3vw;*/
        /*width: 200%;*/
    }
}

.hovertext2 {
    display: none;
    /*font-family: "SB_L", sans-serif;*/
    /*position: absolute;*/
    /*left: 11%;*/
    /*top: 17.5%;*/
    /*color: white;*/
}

@media (max-width: 1000px) {
    .hovertext2 {
        display: none;
        /*position: absolute;*/
        /*left: 165%;*/
        /*top: 55.5%;*/
        /*color: white;*/
        /*font-size: 3vw;*/
        /*width: 200%;*/
    }
}


.signupbox {
    position: absolute;
    top: 8%;
    left: 47%;
    width: 42vw;
    height: 42vw;
    background-image: url("../img/signupbackgorund.jpg");
    background-size: cover;
    /*background-color: cornflowerblue;*/
    /*<a href='https://.pngtree.com/free-backgrounds'>무료 배경 사진 .pngtree.com/</a>*/
    border-style: outset;
    border-color: indianred;
    border-width: medium;
    opacity: 0.97;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
}

@media (max-width: 1000px) {
    .signupbox {
        position: absolute;
        top: 63%;
        left: 0%;
        width: 99vw;
        height: 65vw;
        background-image: url(../img/signupbackgorund.jpg);
        background-size: cover;
        /* background-color: cornflowerblue; */
        border-style: outset;
        border-color: indianred;
        border-width: medium;
        opacity: 0.97;
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
    }
}

.checkboxman {
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
    padding-left: 9vw;
}

@media (max-width: 1000px) {
    .checkboxman {
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
        margin-left: -20vw;
    }
}

.checkboxwoman {
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
    padding-left: 10.5vw;
}

@media (max-width: 1000px) {
    .checkboxwoman {
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
        padding-left: 8.5vw;
    }
}

.menimg {
    padding-left: 8vw;
}

@media (max-width: 1000px) {
    .menimg {
        margin-left: -18vw;
    }
}

.womenimg {
    padding-left: 8vw;
}

@media (max-width: 1000px) {
    .womenimg {
        padding-left: 5vw;
    }
}

.levelbox {
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

.signupbtn {
    width: 12vw;
    height: 2vw;
    font-weight: bolder;
    font-size: 1.5vw;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

.groom {
    animation: cloudFloat 2s ease-in-out infinite alternate;
}

@-webkit-keyframes cloudFloat {
    0% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}

@keyframes cloudFloat {
    0% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}

.signuptext {
    width: 100%;
    height: 10%;
    /*background-color: lightslategray;*/
}

@media (max-width: 1000px) {
    .signuptext {
        width: 100%;
        height: 10%;
        /*background-color: lightslategray;*/
    }
}


.signuptitle {
    text-align: center;
    font-size: 3vw;
    color: lightgreen;
    font-style: oblique;
}

@media (max-width: 1000px) {
    .signuptitle {
        text-align: center;
        font-size: 5vw;
        color: lightgreen;
        font-style: oblique;
    }
}


.signupinfo {
    margin-left: 0.5vw;
    margin-top: 3vw;
    font-weight: bolder;
}

@media (max-width: 1000px) {
    .signupinfo {
        margin-left: 0.5vw;
        margin-top: 3vw;
        font-weight: bolder;
        width: 100%;
        text-align: center;
    }
}


.genderbox {
    width: 100%;
    height: 20%;
    /*background-color: blue;*/
    margin-top: 2vw;
}

@media (max-width: 1000px) {
    .genderbox {
        width: 100%;
        height: 20%;
        /* background-color: blue; */
        margin-top: 2vw;
        text-align: center;
    }
}

.gendertext {
    float: left;
    font-weight: bolder;
    margin-left: 0.5vw;
}

@media (max-width: 1000px) {
    .gendertext {
        float: left;
        font-weight: bolder;
        margin-left: 25vw;
    }
}

.workoutlevel {
    width: 100%;
    /*background-color: orangered;*/
    margin-top: 0.5vw;
}

@media (max-width: 1000px) {
    .workoutlevel {
        width: 100%;
        /*background-color: orangered;*/
        margin-top: 0.5vw;
        text-align: center;
    }
}

.levelpic {
    width: 100%;
    height: 20%;
    /*background-color: orangered;*/
    margin-top: 1vw;
}

.leveltext {
    float: left;
    font-weight: bolder;
    margin-left: 0.5vw;
}

@media (max-width: 1000px) {
    .leveltext {
        float: left;
        font-weight: bolder;
        margin-left: 25vw;
    }
}

.locationlevel {
    margin-left: 10vw;
}

@media (max-width: 1000px) {
    .locationlevel {
        margin-left: 0vw;
    }
}

.levelimg1 {
    opacity: 0.6;
}

@media (max-width: 1000px) {
    .levelimg1 {
        opacity: 0.6;
        margin-left: -23vw;
    }
}

.levelimg2 {
    opacity: 0.6;
    margin-left: 1.5vw;
}

@media (max-width: 1000px) {
    .levelimg2 {
        opacity: 0.6;
        margin-left: 1.5vw;
    }
}

.levelimg3 {
    opacity: 0.6;
    margin-left: 1.5vw;
}

@media (max-width: 1000px) {
    .levelimg3 {
        opacity: 0.6;
        margin-left: 1.5vw;
    }
}

.inputbtn {
    margin-top: 0.5vw;
    text-align: center;
}

@media (max-width: 1000px) {
    .inputbtn {
        width: 100%;
        margin-top: 3vw;
        text-align: center;
    }
}

input[type="submit"] {
    font-family: SB_L;
}

input[type="text"] {
    font-family: SB_L;
}

input[type="password"] {
    font-family: SB_L;
}

.backgroundimg {
    /*background-image: url("../img/signback.jpg");*/
    width: 100%;
}

.loginbtn {
    position: absolute;
    top: 44.6%;
    left: 92.4%;
    width: 5.3vw;
    background-color: white;
    border-radius: 50%;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

@media (max-width: 1000px) {
    .loginbtn {
        position: absolute;
        top: 14.6%;
        left: 75%;
        width: 15vw;
        background-color: white;
        border-radius: 15%;
        cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
    }
}

.teamlogo {
    position: absolute;
    top: 0.5vw;
    left: 77%;
    width: 23vw;
    height: 4vw;
    border-radius: 5%;
}

@media (max-width: 1000px) {
    .teamlogo {
        position: absolute;
        top: 0.5vw;
        left: 60%;
        width: 40vw;
        height: 12vw;
        border-radius: 5%;
    }
}

button.red {
    background: -webkit-linear-gradient(top, #DD4B39, #D14836);
    background: -moz-linear-gradient(top, #DD4B39, #D14836);
    background: -ms-linear-gradient(top, #DD4B39, #D14836);
    border: 1px solid #DD4B39;
    color: white;
    text-shadow: 0 1px 0 #C04131;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

button.red:hover {
    background: -webkit-linear-gradient(top, #DD4B39, #C53727);
    background: -moz-linear-gradient(top, #DD4B39, #C53727);
    background: -ms-linear-gradient(top, #DD4B39, #C53727);
    border: 1px solid #AF301F;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

button.red:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(top, #D74736, #AD2719);
    background: -moz-linear-gradient(top, #D74736, #AD2719);
    background: -ms-linear-gradient(top, #D74736, #AD2719);
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}

.find_id {
    position: absolute;
    top: 62%;
    left: 5%;
}

@media (max-width: 1000px) {
    .find_id {
        position: absolute;
        top: 75%;
        left: 20%;
        font-size: 4vw;
    }
}

.find_pw {
    position: absolute;
    top: 62%;
    left: 12.6%;
}

@media (max-width: 1000px) {
    .find_pw {
        position: absolute;
        top: 75%;
        left: 60%;
        font-size: 4vw;
    }
}