@font-face {
    src: url("../font/SB_L.ttf");
    font-family: "SB_L";
}

#SBL_font {
    font-family: "SB_L";
}

.maincontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url("/static/img/pointer.png") 2 6, default;
}

.loginbox {
    position: absolute;
    top: 47.5%;
    left: 5%;
    width: 15vw;
    height: 6.5vw;
    /*background-color: gray;*/
}

.idcontain {
    width: 15vw;
    height: 3.5vw;
    /*background-color: blue;*/
}

.pwcontain {
    width: 15vw;
    height: 3vw;
    /*background-color: red;*/
}

input[type="text"], input[type="password"] {
    height: auto; /* 높이 초기화 */
    line-height: normal; /* line-height 초기화 */
    padding: .8em .5em; /* 여백 설정 */
}

.textbox input[type="text"], .textbox input[type="password"] {
    width: 90%; /* 원하는 너비 설정 */
    height: auto; /* 높이값 초기화 */
    line-height: normal; /* line-height 초기화 */
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: inherit; /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0; /* iSO 둥근모서리 제거 */
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.music {
    z-index: 2;
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 4vw;
    background-color: orangered;
    border-radius: 30%;
    cursor: url("/static/img/press.png") 2 2, default;
}

.modalonbox {
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 20%;
    height: 60%;
    cursor: url("/static/img/press.png") 2 2, default;
}

.signupbox {
    position: absolute;
    top: 8%;
    left: 47%;
    width: 32vw;
    height: 39vw;
    background-image: url("../img/back3.jpg");
    background-size: cover;
    /*background-color: cornflowerblue;*/
    /*<a href='https://.pngtree.com/free-backgrounds'>무료 배경 사진 .pngtree.com/</a>*/
    border: 10px solid indianred;
    opacity: 0.97;
    cursor: url("/static/img/pointer.png") 2 6, default;
}

.checkboxman {
    cursor: url("/static/img/press.png") 2 2, default;
    padding-left: 6vw;
}

.checkboxwoman {
    cursor: url("/static/img/press.png") 2 2, default;
    padding-left: 6.5vw;
}

.levelbox {
    cursor: url("/static/img/press.png") 2 2, default;
}

.signupbtn {
    width: 12vw;
    height: 2vw;
    font-weight: bolder;
    font-size: 1.5vw;
    cursor: url("/static/img/press.png") 2 2, default;
}

.groom {
    animation: cloudFloat 2s ease-in-out infinite alternate;
}

@-webkit-keyframes cloudFloat {
    0% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}

@keyframes cloudFloat {
    0% {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(5px)
    }
}

.signuptext {
    width: 100%;
    height: 10%;
    /*background-color: lightslategray;*/
}

.signuptitle {
    text-align: center;
    font-size: 3vw;
    color: lightgreen;
    font-style: oblique;
}

.signupinfo {
    margin-left: 0.5vw;
    margin-top: 3vw;
    font-weight: bolder;
}

.genderbox {
    width: 100%;
    height: 20%;
    /*background-color: blue;*/
    margin-top: 2vw;
}

.workoutlevel {
    width: 100%;
    /*background-color: orangered;*/
    margin-top: 0.5vw;
}

.levelpic {
    width: 100%;
    height: 20%;
    /*background-color: orangered;*/
    margin-top: 1vw;
}

.locationlevel {
    margin-left: 5vw;
}

.inputbtn {
    margin-top: 0.5vw;
    text-align: center;
}

input[type="submit"] {
    font-family: SB_L;
}

input[type="text"] {
    font-family: SB_L;
}

input[type="password"] {
    font-family: SB_L;
}

.backgroundimg {
    /*background-image: url("../img/signback.jpg");*/
}

.loginbtn {
    position: absolute;
    top: 44.6%;
    left: 92.4%;
    width: 5.3vw;
    background-color: white;
    border-radius: 50%;
    cursor: url("/static/img/press.png") 2 2, default;
}