@font-face {
    src: url("../font/SB_L.ttf");
    font-family: "SB_L";
}

.fullcontain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/arcedeback.png");
    background-size: cover;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/pointer.png) 2 6, default;
}

@media (max-width: 1000px) {
    .fullcontain {
        position: absolute;
        top: 0;
        left: -192%;
        width: 300%;
        height: 108vh;
        background-image: url(../img/arcedeback.png);
        background-size: cover;
    }
}

.box {
    position: relative;
    top: 38%;
    left: 34%;
    width: 35%;
    height: 30%;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: SB_L;
}

@media (max-width: 1000px) {
    .box {
        position: relative;
        top: 38%;
        left: 65%;
        width: 34.5%;
        height: 30%;
        color: white;
        text-align: center;
        font-weight: bolder;
        font-family: SB_L;
        font-size: 5vw;
    }
}

.btn {
    text-decoration-line : none;
    cursor: url(https://tenten2.s3.ap-northeast-2.amazonaws.com/img/press.png) 2 2, default;
}