{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/follow_detail.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}COMMU{% endblock %}

{% block content %}

    <div class="background">
        <div class="box">
            <div>
                <h3>{{ user.nickname }}의 Follow {{ user.follow.count }}명 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3><br><br>
                {% for follow in follow_list %}
                    <p style="color: white">{{ follow.username }}
                        {% if login_user.id == follow.id %}
                            <a style="color: white" href="/mypage/{{ follow.id }}">[Mypage]</a>
                        {% elif login_user not in follow.followee.all %}
                            <a class="follow" href="/mypage/update/follow/{{ follow.id }}">[Follow]</a>
                        {% else %}
                            <a class="follow" href="/mypage/update/follow/{{ follow.id }}">[Unfollow]</a>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>

            <div>
                <h3>{{ user.nickname }}의 Follower {{ user.followee.count }}명 </h3><br><br>
                {% for followee in followee_list %}
                    <p style="color: white">{{ followee.username }}
                        {% if login_user.id == followee.id %}
                            <a href="/mypage/{{ followee.id }}">[Mypage]</a>
                        {% elif login_user not in followee.followee.all %}
                            <a class="follow" href="/mypage/update/follow/{{ followee.id }}">[Follow]</a>
                        {% else %}
                            <a class="follow" href="/mypage/update/follow/{{ followee.id }}">[Unfollow]</a>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
        <br>
        <a class="movemypage" href="/mypage/{{ user.id }}">Mypage</a>
    </div>

{% endblock %}