{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="../../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/follow_detail.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}COMMU{% endblock %}
 <div>
            <a href="/mypage/{{ member.id }}" style="text-decoration-line: none;" >
            <div class='member' style="display:flex">
                <div>
                    <img style="width: 50px; height: 50px; border-radius: 50%" src="{{ member.profile_img }}">
                </div>
                <div style="height: 50px; text-align-all: center">
                    <p style="margin: 0;">{{ member.username }}</p>
                    <p style="margin: 0; color:gray">{{ member.nickname }}</p>
                </div>
            </div>
            </a>
        </div>
{% block content %}
    <div style="display:flex">
        <div style="width:300px">
            <h3>{{ user.nickname }}의 팔로우 {{ user.follow.count }}명</h3>
            {% for follow in follow_list %}
                <div style="display: flex;">
                    <a href="/mypage/{{ follow.id }}" style="text-decoration-line: none">
                        <div style="display: flex;">
                            <img class="profile_img" src="{{ follow.profile_img }}">
                            <div>
                                 <p style="margin: 0;">{{ follow.username }}</p>
                                 <p style="margin: 0; color: gray">{{ follow.nickname }}</p>
                            </div>
                        </div>
                    </a>
                {% if login_user.id == follow.id %}
                    <a class="mypage" href="/mypage/{{ follow.id }}">마이페이지로</a>
                {% elif login_user not in follow.followee.all %}
                    <a class="follow" href="/mypage/update/follow/{{ follow.id }}">팔로우</a>
                {% else %}
                    <a class="followee" href="/mypage/update/follow/{{ follow.id }}">팔로우 취소</a>
                {% endif %}
                </div>
            {% endfor %}
        </div>

        <div style="width:300px">
            <h3>{{ user.nickname }}의 팔로워 {{ user.followee.count }}명 </h3>
            {% for followee in followee_list %}
                <div style="display: flex;">
                     <a href="/mypage/{{ followee.id }}" style="text-decoration-line: none">
                        <div style="display: flex;">
                            <img class="profile_img" src="{{ followee.profile_img }}">
                            <div>
                                 <p style="margin: 0;">{{ followee.username }}</p>
                                 <p style="margin: 0; color: gray">{{ followee.nickname }}</p>
                            </div>
                        </div>
                    </a>
                    {% if login_user.id == followee.id %}
                        <a class="mypage" href="/mypage/{{ followee.id }}">마이페이지로</a>
                    {% elif login_user not in followee.followee.all %}
                        <a class="follow" href="/mypage/update/follow/{{ followee.id }}">팔로우</a>
                    {% else %}
                        <a class="followee" href="/mypage/update/follow/{{ followee.id }}">팔로우 취소</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


    <p class="box_title">다른 사용자들 알아보기</p>
        <div id="recommend_container"><!--추천박스-->
            {% for another in another_user_list %}
            <div class="box">
                <div class="recommend_descbox" style="display: flex">
                    <a href="/mypage/{{ another.id }}">
                        <img style="width:50px; height: 50px; border-radius: 50%;"  id="recommend_img"  class="rcm_img" src="{{ another.profile_img }}">
                    </a>
                    <p class="s_descs">닉네임: {{ another.nickname }}</p>
                    <p class="s_descs">운동레벨: {{ another.level }}</p>
                    <p class="s_descs">팔로우 수: {{ another.follow.count }}명</p>
                    <p class="s_descs">팔로워 수: {{ another.followee.count }}명</p>
{#                    <a href="/mypage/update/follow/{{ another.id }}">[팔로우]</a>#}
                    {% if login_user.id == another.id %}
                        <button class="mypage" onclick="locaion.href=/mypage/{{ another.id }}">마이페이지로</button>
                    {% elif login_user not in another.followee.all %}
                        <a class="follow" href="/mypage/update/follow/{{ another.id }}">팔로우</a>
                    {% else %}
                        <a class="followee" href="/mypage/update/follow/{{ another.id }}">팔로우 취소</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    <a href="/mypage/{{ login_user.id }}">마이페이지로</a>
{% endblock %}