{% extends 'base.html' %}
{% load static %}
{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/testmy.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/testmy.js"></script>
{% endblock %}

{% block content %}
    <div class="header" style="display: flex">
        <p class="itemtext1">User searching </p>
        <form action="/mypage/search/users" method="POST" class="search_form">
            {% csrf_token %}
            <input class="search_box" type="text" name="user_search" placeholder="사용자를 검색하세요">
            <button class="search_btn" type="submit">search</button>
        </form>
        <h3 class="itemtext2" onclick="location.href='http://127.0.0.1:8000/second/logout'">Logout</h3>
        <h3 class="itemtext3" onclick="location.href='/mypage/{{ login_user.id }}'">Mypage</h3>
        <h3 class="itemtext4" onclick="location.href='http://127.0.0.1:8000/main/'">Main</h3>
    </div>
    {% if login_user != user %}
        <a href="/mypage/{{ login_user.id }}">Mypage</a>
    {% endif %}
    <div id="main_container">
        <div id="user_wrapper">
            <div id="profile">
{#                <p class="movemain" onclick="location.href='/main/'">Main</p>#}
                <img id="image" src="{{ user.profile_img }}">
                <br>
                {% if login_user == user %}
                    <button type='button' id="modal_btn" class="profileedit_btn">Profile Edit</button>
                {% elif login_user not in user.followee.all %}
                    <a class="follow" href="/mypage/update/follow/{{ user.id }}">[Follow]</a>
                {% elif login_user in user.followee.all %}
                    <a class="follow" href="/mypage/update/follow/{{ user.id }}">[Unfollow]</a>
                {% endif %}
            </div>
            <div class="user_desc">
                <p class="first_id">{{ user.nickname }}님</p>
                {% if messages %}
                    {% for msg in messages %}
                        {{ msg.message }}
                    {% endfor %}
                {% endif %}
                <a style="color: white" href="/mypage/get/follow/{{ user.id }}">
                    <div class="counts">
                        <p class="count"> Following : {{ user.follow.count }}명</p>
                        <p class="count"> Follower : {{ user.followee.count }}명</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="black_bg"></div>
        <div class="modal_wrap">
            <div class="modal_close"><a href="#">close</a></div>
            <div class="edit_profile">
                <form class="user_id_form" method="POST" enctype="multipart/form-data"
                      action="/mypage/update/profile/{{ user.id }}">
                    {% csrf_token %}
                    <div style="display: flex">
                        <div class="img_box">
                            <img id="image" class="img_box2" src="{{ user.profile_img }}">
                            <input class="change_img" type="file" name="file" id="profile_img_file"
                                   value="{{ user.profile_img }}">
                            <p class="custom-file-label" for="profile_img_file">프로필로 지정할 사진을 선택해주세요.</p>
                        </div>
                        <div style="margin-left: 1vw; width: 100%;">
                            <p class="t1"> ID : {{ user.username }}</p>
                            <p class="t2"> 성별: {{ user.gender }}</p>
                            <p class="t3"> 닉네임 : <input style="width: 150px;" type="text" name="nickname"
                                             value="{{ user.nickname }}"></p>
                            <p class="t4"> 운동 level: {{ user.level }}</p>
                            {% if user.level == '초심자' %}
                                <input type="radio" class="level" name="level" value="초심자" checked/>초심자
                                <input type="radio" class="level" name="level" value="중급자"/>중급자
                                <input type="radio" class="level" name="level" value="상급자"/>상급자
                            {% elif user.level == '중급자' %}
                                <input type="radio" class="level" name="level" value="초심자"/>초심자
                                <input type="radio" class="level" name="level" value="중급자" checked/>중급자
                                <input type="radio" class="level" name="level" value="상급자"/>상급자
                            {% else %}
                                <input type="radio" class="level" name="level" value="초심자"/>초심자
                                <input type="radio" class="level" name="level" value="중급자"/>중급자
                                <input type="radio" class="level" name="level" value="상급자" checked/>상급자
                            {% endif %}
                            <p class="t5"> 이메일 : {{ user.email }}</p>
                            <p class="t6"> 이메일주소는 아이디찾기/비밀번호 변경에 사용됩니다.</p>
                            <a class="change_email" href="/mypage/update/email/{{ user.id }}">이메일변경하기</a>
                            <a class="change_pw" href="/second/password_reset/">비밀번호 변경</a>
                            <a class="delete_id" href="/second/delete/{{ login_user.id }}">회원 탈퇴</a>
                        </div>
                    </div>
                    <button class="submit_btn" type="submit">프로필 수정하기</button>
                </form>
            </div>
        </div>
        <div>
            <img src="/static/img/backtmp2.jpeg" class="tmpimg">
            <p class="first_post">{{ user }}님이 작성한 게시글</p>
            <div style="display: flex;">
                {% if articles_list == 0 %}
                    <p class="third_post"> 아직 작성한 게시글이 없어요 :)</p>
                {% endif %}
                <div>
                    {% for article in articles %}

                        {% if forloop.counter <= 5 %}
                            <div>
                                <a href=""><h6 style="color: white">{{ article.title }}</h6></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% for article in articles %}
                        {% if forloop.counter > 5 %}
                            <div>
                                <h6 style="color: white">{{ article.title }}</h6>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                {% if articles.has_previous %}
                    <a href="?page=1" style="color: white">맨 앞으로</a>
                    <a href="?page={{ articles.precious_page_number }}"style="color: white">이전으로</a>
                {% endif %}
                {% if articles %}
                <span style="color: white">{{ articles.number }}</span>
                <span style="color: white">/</span>
                <span style="color: white">{{ articles.paginator.num_pages }}</span>
                {% endif %}
                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}" style="color: white">다음으로</a>
                    <a href="?page={{ articles.paginator.num_pages }}" style="color: white">맨 뒤로</a>
                {% endif %}
            </div>
        </div>

        <p class="box_title">북마크한 레시피</p>
        <div id="recommend_container"><!--추천박스-->

            <div class="box">

                {#                <div class="recommend_imgbox"  ><!--추천맛집 div가 두개 하나는 사진 하나는 가게정보-->#}
                {#                    <img id="recommend_img"  class="rcm_img" src="{{ another.profile_img }}"> <!--사진url앞에것만 잘라보기-->#}
                {#                </div>#}
                {#                <div class="recommend_descbox" onclick="location.href='/mypage/{{ another.id }}'">#}
                {#                    <p class="s_descs">닉네임: {{ another.nickname }}</p>#}
                {#                    <p class="s_descs">운동레벨: {{ another.level }}</p>#}
                {#                    <p class="s_descs">팔로우 수: {{ another.follow.count }}명</p>#}
                {#                    <p class="s_descs">팔로워 수: {{ another.followee.count }}명</p>#}
                {#                </div>#}

            </div>

        </div>
    </div>
{% endblock %}

