{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/find_id.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}FIND ID{% endblock %}

{% block content %}

    <div class="fullcontain">
        <div class="findbox">
            <p class="p_text">회원가입시 입력한 이메일을 입력하세요</p>
            <form class="form_css" method="post" action="/second/find_id">
                {% csrf_token %}
                Email : <input class="input_em" type="email" name="email" placeholder="회원가입시 사용한 이메일">
                <button class="btn">제출</button>
            </form>
        </div>
    </div>

    {% if messages %}
        {% for msg in messages %}
            <h3 class="find_id">{{ msg.message }}</h3>
        {% endfor %}
    {% endif %}
    <a class="movesignup" href="{% url 'sign_in' %}">LOGIN</a>
{% endblock %}