{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}PASSWORD RESET CONFIRM{% endblock %}

<h3>비밀번호 재설정</h3>
{% block content %}
     <p>새 비밀번호를 입력해 주세요.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button>저장</button>
        </form>
{#    <a href="/second/sign_in">회원가입/로그인 하러 가기</a>#}
{% endblock %}