{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/password_reset_complete.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}PASSWORD RESET COMPLETE{% endblock %}
{% block content %}
    <div class="fullcontain">
        <div class="box">
            <div>
                <h2>패스워드 변경 완료</h2>
                <p>패스워드 변경이 완료되었습니다. 홈페이지에서 로그인 해주세요.</p>
            </div>
            <a class="movesignup" href="{% url 'sign_in' %}">Login</a>
        </div>
    </div>

{% endblock %}