{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/reset_email.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}PASSWORD RESET CONFIRM{% endblock %}

<h3 class="headtext">비밀번호 재설정</h3>

{% block content %}

    <div class="fullcontain">
        <div class="box">
            {% if ok %}
                <p>새 비밀번호를 입력해 주세요.</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    새 비밀번호: <input type="password" name="password1">
                    새 비밀번호(확인): <input type="password" name="password2">
                    <button>저장</button>
                </form>
            {% endif %}
            {% if messages %}
                {% for msg in messages %}
                    <h3>{{ msg.message }}</h3>
                {% endfor %}
            <a href="http://127.0.0.1:8000"> 홈페이지로 이동 </a> <!--나중에 도메인주소로 바꿀것!!-->
            {% endif %}
        </div>
    </div>

{% endblock %}