{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/reset_password.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}PASSWORD RESET CONFIRM{% endblock %}

<h3 class="headtext">비밀번호 재설정</h3>

{% block content %}

    <div class="fullcontain">
        <div class="box">
            {% if ok %}
                <p class="first_p">새 비밀번호를 입력해 주세요.</p>
                <form class="form_css" method="POST" action="">
                    {% csrf_token %}
                    새 비밀번호: <input class="input_1" type="password" name="password1">
                    새 비밀번호(확인): <input class="input_2" type="password" name="password2">
                    <button class="btn">저장</button>
                </form>
            {% endif %}
            {% if messages %}
                {% for msg in messages %}
                    <h3 class="msg">{{ msg.message }}</h3>
                {% endfor %}
            <a class="movepage" href="{% url 'sign_in' %}"> HomePage </a>
            {% endif %}
        </div>
    </div>

{% endblock %}