{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}EMAIL RESET{% endblock %}

<h3>이메일 재설정</h3>
{% block content %}
     <p>새로 사용할 이메일을 정확하게 입력해 주세요.</p>
        <form method="POST" action="">
            {% csrf_token %}
            새로 사용할 이메일: <input type="email" name="email">
            <button>저장</button>
        </form>

    {% if messages %}
        {% for msg in messages %}
            <h3>{{ msg.message }}</h3>
        {% endfor %}
    {% endif %}
{% endblock %}