{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}SEND PASSWORD RESET EMAIL{% endblock %}

<h3>비밀번호 재설정 메일 발송완료</h3>
{% block content %}
    <p> 비밀번호 재설정을 위한 메일이 발송되었습니다.<br>
        30분내에 비밀번호를 재설정 해주세요.<br>
        만약 메일이 오지 않는다면 이메일주소를 다시 한번 확인해 주시고,<br>
        스팸메일함도 확인해 주세요!</p>

    <a href="/second/sign_in" style="text-decoration-line : none;" >마음이 바뀌었어요 그냥 로그인 할게요!</a>

{% endblock %}