{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/delete_user.js"></script>

{% endblock %}

{% block title %}MEMBERSHIP WITHDRAWAL{% endblock %}

<h3>회원탈퇴</h3>
{% block content %}
     <p>회원탈퇴를 진행합니다.</p>
     <p>회원탈퇴시 작성한 게시글, 댓글등 관련된 정보는 모두 즉시 삭제됩니다.</p>
        <form method="POST" >
            {% csrf_token %}
            비밀번호 확인 : <input type="password" name="password" id="password">
            <input value="{{ user.id }}" id="id" hidden>
            <button id="btn">탈퇴하기</button>
        </form>

    {% if messages %}
        {% for msg in messages %}
            <h3>{{ msg.message }}</h3>
        {% endfor %}
    {% endif %}
{% endblock %}