{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="../../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/commu.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/commu.js"></script>
{% endblock %}

{% block title %}COMMU UPDATE{% endblock %}

{% block content %}
    <div id="particles-js">
    <form action="" method="post">
        {% csrf_token %}
        <input class="article_title" name="title" value="{{ article.title }}">
        <input class="article_content" name="content" value="{{ article.content }}">
        <button type="submit" class="submit_button">수정하기</button>
        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
    </form>
    </div>

    <script src="../../static/js/particles.js"></script>
    <script src="../../static/js/app.js"></script>

{% endblock %}