{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="../../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/commu.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/js/commu.js"></script>
{% endblock %}

{% block title %}COMMU{% endblock %}

{% block content %}

    <div id="particles-js">
        <a class="h1" href="/commu/">Community</a>
        <div class="search_input">
            <form action="/commu/search/" method="GET">
                <input type="text" name="search_article" >
                <input type="submit" value="검색">
            </form>
        </div>
        <div class="textbox">
            <a class="mainmove" href="{% url 'main' %}">main</a>
            <p class="base" style="top: 25%; left: 5%; color: white">1 /</p>
            <p class="base" style="top: 25%; left: 20%; color: white">2 /</p>
            <p class="base" style="top: 25%; left: 35%; color: white">3 /</p>
            <p class="base" style="top: 25%; left: 50%; color: white">...</p>
        </div>

        <div style="position: absolute; top: 25%; left: 5%; width: 90%; height: 50%;">
            <div style="position: absolute; top: 0; left: 0; width: 45%; height: 100%;">
            {% if search_list %}
                {% for i in search_list %}
                    <div style="position: relative; top: 0%; left: 0%; width: 100%; height: 10%;">
                            <p style="float: left; width: 10%;">{{ forloop.counter }}</p>
                            <a href="/commu/{{ i.id }}" style="float: left; width: 55%; text-decoration-line: none; color: white">{{ i.title }} </a>
                            <p style="float: left; width: 27%;">{{ i.created_at }}</p>
                            <p style="float: left; width: 4%;">{{ i.author }}</p>
    {#                        <p style="float: left; width: 4%;">x</p>#}
                    </div>
                {% endfor %}
            {% else %}
                <p>검색 결과가 없습니다!</p>
            {% endif %}

            </div>
            <a href="create/" value="아무말이나 적어라" class="commuinput" id="btn-signup">작성하기</a>
    </div>

    {#<script type="text/javascript" src="../static/js/commu.js"></script>#}
    <script src="../../static/js/particles.js"></script>
    <script src="../../static/js/app.js"></script>

{% endblock %}