{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/commu_update.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}COMMU UPDATE{% endblock %}

{% block content %}

    <div id="particles-js">
        <div class="contain">
            <form action="" method="post">
                {% csrf_token %}
                <input class="article_title" name="title" value="{{ article.title }}">
                <input class="article_content" name="content" value="{{ article.content }}">
                <button type="submit" class="submit_button">수정하기</button>
                {% if error %}
                    <p style="color: red">{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

{% endblock %}