{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="../../static/css/base.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}COMMU{% endblock %}

{% block content %}
    <div>
    <h3>{{ user.nickname }}의 팔로우 {{ user.follow.count }}명 </h3><br><br>
        {% for follow in follow_list %}
            <p style="color: #1b1b1b">{{ follow.username }}
             {% if follow in follow_list %}
                {% if login_user == user %}
                <a href="/second/test/update/follow/{{ follow.id }}" class="card-link">[팔로우 취소]</a>
             {% else %}
                <a href="/second/test/update/follow/{{ follow.id }}" class="card-link">[팔로우]</a>
                {% endif %}
             {% endif %}
            </p>
        {% endfor %}
    </div>
    <div>
    <h3>{{ user.nickname }}의 팔로워 {{ user.followee.count }}명 </h3><br><br>
    {% for followee in followee_list %}
        <p style="color: #1b1b1b">{{ followee.username }}
         {% if followee in followee_list %}
            <a href="/second/test/follow/{{ followee.id }}" class="card-link">[팔로우 취소]</a>
         {% else %}
            <a href="/second/test/follow/{{ followee.id }}" class="card-link">[팔로우]</a>
         {% endif %}
        </p>
    {% endfor %}
    </div>
    <a href="/second/test/{{ user.id }}">마이페이지로</a>

{#        {% if comments.has_previous %}#}
{#        <a href="?page=1">맨 앞으로</a>#}
{#        <a href="?page={{ comments.precious_page_number }}">이전으로</a>#}
{#        {% endif %}#}
{#        <span>{{ comments.number }}</span><!--comments가 맞음 이건 blog오타!-->#}
{#        <span>/</span>#}
{#        <span>{{ comments.paginator.num_pages }}</span>#}
{#        {% if comments.has_next %}#}
{#        <a href="?page={{ comments.next_page_number }}">다음으로</a>#}
{#        <a href="?page={{ comments.paginator.num_pages }}">맨 뒤로</a>#}
{#        {% endif %}#}
{#        <div>#}
{#            <img src="{{ profile_img }}">#}
{#        </div>#}


{% endblock %}