{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/commu.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/commu.js"></script>
{% endblock %}

{% block title %}COMMU{% endblock %}

{% block content %}

    <div id="particles-js">
        <h1>Community</h1>

        <p class="base" style="top: 18%; left: 90%; color: white">1 /</p>
        <p class="base" style="top: 18%; left: 92%; color: white">2 /</p>
        <p class="base" style="top: 18%; left: 94%; color: white">3 /</p>
        <p class="base" style="top: 18%; left: 96%; color: white">...</p>

        <h3 style="text-align: left; top: 25%; color: white">1</h3>
        <p class="base" style="top: 25%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 25%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 25%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 30%; color: white">2</h3>
        <p class="base" style="top: 30%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 30%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 30%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 35%; color: white">3</h3>
        <p class="base" style="top: 35%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 35%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 35%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 40%; color: white">4</h3>
        <p class="base" style="top: 40%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 40%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 40%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 45%; color: white">5</h3>
        <p class="base" style="top: 45%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 45%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 45%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 50%; color: white">6</h3>
        <p class="base" style="top: 50%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 50%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 50%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 55%; color: white">7</h3>
        <p class="base" style="top: 55%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 55%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 55%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 60%; color: white">8</h3>
        <p class="base" style="top: 60%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 60%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 60%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 65%; color: white">9</h3>
        <p class="base" style="top: 65%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 65%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 65%; left: 45%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 70%; color: white">10</h3>
        <p class="base" style="top: 70%; left: 13%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 70%; left: 33%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 70%; left: 45%; color: white">ㅇ</p>

{#        오른쪽#}

        <h3 style="text-align: left; top: 25%; left: 55%; color: white">11</h3>
        <p class="base" style="top: 25%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 25%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 25%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 30%; left: 55%;  color: white">12</h3>
        <p class="base" style="top: 30%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 30%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 30%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 35%; left: 55%;  color: white">13</h3>
        <p class="base" style="top: 35%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 35%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 35%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 40%; left: 55%;  color: white">14</h3>
        <p class="base" style="top: 40%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 40%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 40%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 45%; left: 55%;  color: white">15</h3>
        <p class="base" style="top: 45%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 45%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 45%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 50%; left: 55%;  color: white">16</h3>
        <p class="base" style="top: 50%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 50%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 50%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 55%; left: 55%;  color: white">17</h3>
        <p class="base" style="top: 55%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 55%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 55%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 60%; left: 55%;  color: white">18</h3>
        <p class="base" style="top: 60%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 60%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 60%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 65%; left: 55%;  color: white">19</h3>
        <p class="base" style="top: 65%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 65%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 65%; left: 93%; color: white">ㅇ</p>

        <h3 style="text-align: left; top: 70%; left: 55%;  color: white">20</h3>
        <p class="base" style="top: 70%; left: 60%; color: white">오늘의 운동 끝!</p>
        <p class="base" style="top: 70%; left: 80%; color: white">04:00 / 3. 17. 2022</p>
        <p class="base" style="top: 70%; left: 93%; color: white">ㅇ</p>

        <input value="아무말이나 적어라" class="commuinput" style="font-family: SB_L; text-align: center; font-size: 1vw; color: white; background-color: cornflowerblue;" id="btn-signup">

    </div>

{#<script type="text/javascript" src="../static/js/commu.js"></script>#}
<script src="../static/js/particles.js"></script>
<script src="../static/js/app.js"></script>

{% endblock %}