{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/commu.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/commu.js"></script>
{% endblock %}

{% block title %}COMMU{% endblock %}

{% block content %}

    <div id="particles-js">
        <h1>Community</h1>

        <div style="position: absolute; top: 18%; left: 88%; width: 10%; height: 5%;">
            <p class="base" style="top: 25%; left: 5%; color: white">1 /</p>
            <p class="base" style="top: 25%; left: 20%; color: white">2 /</p>
            <p class="base" style="top: 25%; left: 35%; color: white">3 /</p>
            <p class="base" style="top: 25%; left: 50%; color: white">...</p>
        </div>

        <div style="position: absolute; top: 25%; left: 5%; width: 90%; height: 50%;">
            <div style="position: absolute; top: 0; left: 0; width: 45%; height: 100%;">
                <div style="position: absolute; top: 0%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">1</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 10%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">2</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 20%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">3</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 30%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">4</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 40%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">5</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 50%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">6</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 60%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">7</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 70%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">8</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 80%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">9</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 90%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">10</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>
            </div>


            {#        오른쪽#}

            <div style="position: absolute; top: 0%; left: 52.5%; width: 47.5%; height: 100%;">
                <div style="position: absolute; top: 0%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">11</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 10%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">12</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 20%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">13</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 30%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">14</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 40%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">15</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 50%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">16</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 60%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">17</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 70%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">18</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 80%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">19</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>

                <div style="position: absolute; top: 90%; left: 0%; width: 100%; height: 5%;">
                    <h3 style="text-align: left; top: 25%; left: 0; color: white">20</h3>
                    <p class="base" style="top: 25%; left: 12%; color: white">오늘의 운동 끝!</p>
                    <p class="base" style="top: 25%; left: 65%; color: white">04:00 / 3. 17. 2022</p>
                    <p class="base" style="top: 25%; left: 95%; color: white">ㅇ</p>
                </div>
            </div>
        </div>


        <input value="아무말이나 적어라" class="commuinput"
               style="font-family: SB_L; text-align: center; font-size: 1vw; color: white; background-color: cornflowerblue;"
               id="btn-signup">

    </div>

    {#<script type="text/javascript" src="../static/js/commu.js"></script>#}
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>

{% endblock %}