{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/eat.css" rel="stylesheet" type="text/css"/>
{#    <script type="text/javascript" src="../static/js/eat.js"></script>#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}

{% block title %}EAT{% endblock %}

{% block content %}

<div class="section" id="section1">
    <div id="section1_detail">
        <img src="../static/img/meatback.jpg" class="eatback">
        <div id="SBL_font" class="eatcategory1">
            <h1>Meat Lover</h1>
            <h2 style="font-size: 1vw;">흰 쌀 / 돼지고기 / 된장찌개 / 김치</h2>
            <h1>&nbsp</h1>
            <h2 style="font-size: 1.5vw;">Total Kcal : 12,300 kal</h2>
            <h2 style="font-size: 1.5vw;">예상 가격 : 15,500 원</h2>
        </div>



    </div>
</div>

<div class="section" id="section2">
    <img src="../static/img/vegetarianback.png" class="eatback">
    <div id="SBL_font" class="eatcategory2">
            <h1>Vegetarian</h1>
            <h2 style="font-size: 1vw;">흰 쌀 / 돼지고기 / 된장찌개 / 김치</h2>
            <h1>&nbsp</h1>
            <h2 style="font-size: 1.5vw;">Total Kcal : 12,300 kal</h2>
            <h2 style="font-size: 1.5vw;">예상 가격 : 15,500 원</h2>
        </div>
</div>

<div class="section" id="section3">
    <img src="../static/img/soupback.jpg" class="eatback">
    <div id="SBL_font" class="eatcategory1">
            <h1>Soup</h1>
            <h2 style="font-size: 1vw;">흰 쌀 / 돼지고기 / 된장찌개 / 김치</h2>
            <h1>&nbsp</h1>
            <h2 style="font-size: 1.5vw;">Total Kcal : 12,300 kal</h2>
            <h2 style="font-size: 1.5vw;">예상 가격 : 15,500 원</h2>
        </div>
</div>

<div class="section" id="section4">
    <img src="../static/img/westernback.png" class="eatback">
    <div id="SBL_font" class="eatcategory2">
            <h1>Western</h1>
            <h2 style="font-size: 1vw;">흰 쌀 / 돼지고기 / 된장찌개 / 김치</h2>
            <h1>&nbsp</h1>
            <h2 style="font-size: 1.5vw;">Total Kcal : 12,300 kal</h2>
            <h2 style="font-size: 1.5vw;">예상 가격 : 15,500 원</h2>
        </div>
</div>


<script type="text/javascript" src="../static/js/eat.js"></script>

{% endblock %}