<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/first.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/first.js"></script>
    <title>Title</title>
</head>

<body>

<iframe src="https://www.youtube.com/embed/IghVwaeShi0?autoplay=1&mute=1&controls=0&loop=1&playlist=IghVwaeShi0"
        title="first page video" frameborder="0"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></iframe>

<div>
    <figure class="logos _flex_h visible">
        <figure class="image image--lazy contain loaded"
                style="margin-right: 0.3em; --image-height:100%; left: -13vw; top: 2vw;"><img alt=""
                                                                                              draggable="false"
                                                                                              decoding="async"
                                                                                              src="../static/img/food_meal.png">
        </figure>
        <div class="logos__separator"><img src="../static/img/letterX.png"
                                           style="position: absolute;top: 2vw;right: 19.6vw;"></div>
        <figure class="image image--lazy contain loaded" style="--image-height:100%; right: 22vw;top: 2vw;"><img alt=""
                                                                                                                 draggable="false"
                                                                                                                 decoding="async"
                                                                                                                 src="../static/img/exercise_icon.png">
        </figure>
    </figure>

    <h1 id="SBL_font" class="_text_shadow line-splitted visible"
        style="font-style: oblique; padding-left: 10vw; margin-top: -3vw;">
        <div STYLE="padding-left: 12vw; color: lightgreen;"><span>CREATE</span> <span>YOUR</span></div>
        <div style="padding-left: 11.6vw; color: lightgreen; margin-top: -0.3vw;"><span>LIFE</span>
            <span>YOURSELF</span></div>
        <div style="padding-left: 4vw; color: lightgreen; margin-top: -0.3vw;"><span>BALANCED</span>
            <span>WORKOUT</span> <span>FOOD</span></div>
        <div style="padding-left: 12.5vw; color: lightgreen; margin-top: -0.3vw;"><span>JUST DO IT!</span></div>
    </h1>
    <p id="SBL_font" class="_text_shadow visible"
       style="font-style: oblique; color: white; padding-left: 20vw; margin-top: -0.5vw;">Welcome to the Super Health
        Care.</p>


        <div class="fill">
            <button id="SBL_font" class="btn1">GET START!</button>
        </div>


</div>

</body>
</html>