{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/item.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/item.js"></script>
{% endblock %}

{% block title %}ITEM{% endblock %}

{% block content %}

<div class="header">
    <h2 class="movemain" onclick="location.href='http://127.0.0.1:8000/main/'">ITEM</h2>
    <h3 class="itemtext1">Recommendation</h3>
    <h3 class="itemtext2">Protein</h3>
    <h3 class="itemtext3">Supplements</h3>
    <h3 class="itemtext4">Equiment</h3>
    <h3 class="itemtext5" onclick="location.href='http://127.0.0.1:8000/second/logout'">Logout</h3>
    <h3 class="itemtext6" onclick="location.href='/second/test/{{ user.id }}'">My page</h3
    <img src="../static/img/logo.png" class="itemlogo">
</div>

<div class="fullcontain">
    <video muted autoplay loop class="eatvideo">
        <source src="../static/video/itemback.mp4" type="video/mp4">
        <strong>Your browser does not support the video tag.</strong>
    </video>

    <div class="itemlist">
        <h1 id="SBL_font" class="item-category">요즘뜨는 아이템</h1>
        <div style="padding-left: 1vw;">
            <figure class="snip1273 hum">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
                <figcaption>
                    <h3>Fletch Skinner</h3>
                    <p>I don't need to compromise my principles, because they don't have the slightest bearing on what
                        happens to me anyway. </p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
                <figcaption>
                    <h3>Fletch Skinner</h3>
                    <p>I don't need to compromise my principles, because they don't have the slightest bearing on what
                        happens to me anyway. </p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
                <figcaption>
                    <h3>Fletch Skinner</h3>
                    <p>I don't need to compromise my principles, because they don't have the slightest bearing on what
                        happens to me anyway. </p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
                <figcaption>
                    <h3>Fletch Skinner</h3>
                    <p>I don't need to compromise my principles, because they don't have the slightest bearing on what
                        happens to me anyway. </p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample72.jpg" alt="sample72"/>
                <figcaption>
                    <h3>Fletch Skinner</h3>
                    <p>I don't need to compromise my principles, because they don't have the slightest bearing on what
                        happens to me anyway. </p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>

        <h1>&nabla;</h1>
        <h1 id="SBL_font" class="item-category">프로틴</h1>
        <div style="padding-left: 1vw;">
            <figure class="snip1273 hum">
                <img src="../static/img/protein1.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>NEWYORK WHEY</h3>
                    <p>다국적 보충제 기업 신타와 옵티멈이 선택한 미국산 WPC 프로틴 / GLANBIA 유청 단백질 </p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/protein2.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>BavarianFood</h3>
                    <p>합 섭취에 40그램의 단백질 (ISP, WPC, WPH 포함) / 글루타민, 프로테이제 첨가 / 비타민 미네랄 믹스 (BCAA) </p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/protein3.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>오늘의바디 에이치</h3>
                    <p>특허청 상표권 등록 / 12종의 비타민 / 9가지 아미노산 함유 / 단백질 함량 80~85% 고순도 단백질 비율 / 미국 MILK SPECIAL TIES, MARRON사 단백질 사용 </p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/protein4.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>저먼프로트</h3>
                    <p>포대유천의 원조(독일) / HACCP 인증 마크 / LF공법으로 LACTOSE 불리 가공 / 멤브레인, 여과 기술 등 제조 공정 정보 제공</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/protein5.png" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>마이프로틴</h3>
                    <p>가성비 끝팡왕 / 여러가지 맛 WPI 14가지 맛 / 유럽 1위 보충제 회사</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>


        <h1>&nabla;</h1>
        <h1 id="SBL_font" class="item-category">영양제</h1>
        <div style="padding-left: 1vw;">
            <figure class="snip1273 hum">
                <img src="../static/img/nutritional1.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>Multi_Strain Probiotic</h3>
                    <p>다양한 프로바이오틱 균주 + 프리바이오틱 섬유소 / 권장대로 보관 시 유통기한까지 50억 CFU를 보장 / 쌀덱스트린, 베지캡슐(하이프로멜로오스, 펙틴, 정제수), 중쇄중성지방(MCT), 실리카</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/nutritional2.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>Collagen Peptides</h3>
                    <p>해양 콜라겐 펩타이드 플러스 비타민C 및 히알루론산 / cGMP 시설에서 생산한 보충제 / 피부, 모발 및 손발톱 건강에 도움 / 가수분해해양콜라겐펩타이드, 비타민C(아스코르브산칼슘), 히알루론산(소듐하이알루로네이트)</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/nutritional3.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>Two_Per_Day</h3>
                    <p>고효능 종합비타민 및 미네랄 보충제 / 유전자 변형 성분 뮤함유 LE 인증 / 거의 모든 성분의 RDA 이상을 충족 / ConsumerLabs.com 종합비타민 평가 1위</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/nutritional4.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>Omega_3 Fish Oil</h3>
                    <p>자연산 알래스카 명태 추출 AlaskOmega®로 제조 / IFOS® 5성급 인증 피쉬 오일 / MSC 인증 지속 가능한 수산물 / cGMP 준수 - 우수 제조 및 품질 관리 기준 / 고농축 오메가3 EPA(690mg) 및 DHA(260mg)가 함유</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/nutritional5.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>Pantothenic Acid B5</h3>
                    <p>부신 호르몬 생성과 에너지 생성을 위한 지방, 탄수화물, 단백질의 대사를 돕는 필수 비타민B / NSF 유전자 변형 성분 무함유 인증 / 베지캡슐(하이드록시프로필메틸셀룰로스, 정제수), 셀룰로오스 및 마그네슘스테아레이트(식물성원료)</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>

        <h1>&nabla;</h1>
        <h1 id="SBL_font" class="item-category">장비</h1>
        <div style="padding-left: 1vw;">
            <figure class="snip1273 hum">
                <img src="../static/img/equi1.jpeg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>테라건 프라임</h3>
                    <p>FC 바이에든 뮌헨, 아스날, 멘체스터, 레알 마드리드, 생제르망 등 각종 축구 구단 스폰서 / 저소음 초강력 모터 일본QX65 / 세계 유일 16mm 진폭/ 가격 비쌈</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/equi2.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>라이폼 매트</h3>
                    <p>요가매트의 에르메스 / PVC가 없으며 버려질시 자연 분해되는 고급, 무독성 재질 / . 천연 고무 베이스와 층 사이에 펠트가 들어감으로써 더욱 안정적인 쿠션감 / 가격비쌈</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/equi3.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>에코요기 폼룰러</h3>
                    <p>충격 흡수 및 완충성이 뛰어난 EVA 재질 / 근육 이완 및 밸런스 강화 등에 도움 / 폼룰러 제품 중 핫템</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/equi4.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>이너스메디칼 자세교정벨트 바바카</h3>
                    <p>어깨, 허리, 요추 한번에 교정 가능 / 뒷목통증, 거북목, 어깨결림, 허리통증 / 가격 적당</p>
                </figcaption>
                <a href="#"></a>
            </figure>
            <figure class="snip1273" style="float: left; width: 18vw;">
                <img src="../static/img/equi5.jpg" alt="sample72" style="width: 20vw; height: 13vw;"/>
                <figcaption>
                    <h3>REINA 파티션 스토브형 히터 4면</h3>
                    <p>입체 4면 발열 / 3단계 온도조절 / 3시간 타이머 / 난연소재 / 복사열난방, 면상발열 / 무취,무연, 무광, 무풍, 무소음</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>

    </div>
</div>

{% endblock %}