{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/plan.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/plan/fullcalender.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://kit.fontawesome.com/7348b434cd.js" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
{% endblock %}


{% block title %}PLAN{% endblock %}

{% block content %}
    <div class="wrap">

        <div class="content">
            <div class="header">PLAN</div>
            <div id="calendar"></div>
        </div>
    </div>
    <div id='external-events'>
        <p class="DraggableEvent">
            <strong style="color: white">Draggable Events</strong>
        </p>

        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'><p class="event">Worked Out</p></div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'><p class="event">Breakfast</p></div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'><p class="event">Lunch</p></div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'><p class="event">Dinner</p></div>
        </div>
{#        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>#}
{#            <div class='fc-event-main'><p class="event">My Event 5</p></div>#}
{#        </div>#}

        <p class="remove_box">
            <input type='checkbox' id='drop-remove'/>
            <label for='drop-remove' style="color: white">remove after drop</label>
        </p>
    </div>

    <script>

    </script>
    <script src="../static/js/plan/fullcalendar.min.js"></script>
    <script type="text/javascript" src="../static/js/plan/plan.js"></script>
    <script type="text/javascript" src="../static/js/plan/addEvent.js"></script>
    {#    <script type="text/javascript" src="../static/js/plan/data.js"></script>#}
    <script type="text/javascript" src="../static/js/plan/maincalender.js"></script>
{% endblock %}