<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/second.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/second.js"></script>
    <title>SECOND</title>
</head>
<body>
    <iframe src="https://www.youtube.com/embed/TY-RRhU4Z9o?autoplay=1&mute=1&controls=0&loop=1&playlist=TY-RRhU4Z9o"
        title="second page video" frameborder="0"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></iframe>
</body>
</html>