{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script>var sound1 = "{% static "music/bgm.m4a" %}"</script>
    <link href="../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/second.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {#    <script type="text/javascript" src="../static/js/second.js"></script>#}
{% endblock %}

{% block title %}SECOND{% endblock %}

{% block content %}
    <iframe src="https://www.youtube.com/embed/TY-RRhU4Z9o?autoplay=1&mute=1&controls=0&loop=1&playlist=TY-RRhU4Z9o&vq=hd1080"
            title="second page video" frameborder="0"
            style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></iframe>

    <img src="../static/img/music.png" onclick="charm(sound1)" class="music">
    <audio id="myAudio" src="{% static "music/bgm.m4a" %}" preload="auto"></audio>
    <img src="../static/img/logo_red.png" class="teamlogo">
    <div class="modalonbox" onclick="modalOn()"><img src="../static/img/talkgroomm.png" class="hoverimg">
        <div><p class="hovertext1">회원가입을 하려면</p></div>
        <div><p class="hovertext2">캐릭터를 클릭하세요</p></div></div>


    <div class="maincontain">
        <div class="loginbox">
            <div class="idcontain textbox">
                <form>
                    <input type="text" name="username" id="user_id2" style="font-family: SB_L;" placeholder="ID 입력하세요">

                </form>
            </div>
            <div class="pwcontain textbox">
                <form>

                    <input type="password" name="password" id="login-user-password2" style="font-family: SB_L;" placeholder="PW 입력하세요">

                </form>
            </div>
        </div>
        <a href="/second/find_id">아이디 찾기</a>
        <a href="/second/password_reset/">비밀번호 찾기</a>
    </div>

    <form class="signupbox groom" id="modal" style="display: none;" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="backgroundimg">
            <div class="signuptext">
                <h2 onclick="modalOff()" class="signuptitle">SIGN-UP</h2>
            </div>
            <div class="signupinfo" style="color: white;">
                <div>
                    ID : <input type="text" id="user_id" name="username" placeholder="사용할 ID">
                    PW : <input type="password" id="login-user-password" name="password" placeholder="사용할 PW">
                </div>
                <div style="margin-top: 2vw;">
                    NickName : <input type="text" id="user_nn" name="nickname" placeholder="사용할 닉네임">
                    E-mail : <input type="text" id="user_em" name="email" placeholder="사용할 E-mail">
                </div>
            </div>
            <div class="genderbox" style="color: white;">
                <p class="gendertext">성별</p>
                <label for="man" class="checkboxman"><input type="radio" class="gender" id="man" name="gender" value="남자"/> 남자</label>
                <label for="woman" class="checkboxwoman"><input type="radio" class="gender" id="woman" name="gender"
                                                                value="여자"/> 여자</label>
                <div class="genderpic">
                    <img src="../static/img/male.png" class="menimg">
                    <img src="../static/img/female.png" class="womenimg">
                </div>
            </div>
            <div class="workoutlevel" style="color: white;">
                <label for="low" class="levelbox" style="margin-left: 10.5vw;"><input type="radio" class="level" id="low"
                                                                                     name="level" value="초심자"/>
                    초심자</label>
                <label for="middle" class="levelbox" style="margin-left: 3vw;"><input type="radio" class="level" id="middle"
                                                                                   name="level" value="중급자"/>
                    중급자</label>
                <label for="upper" class="levelbox" style="margin-left: 3vw;"><input type="radio" class="level" id="upper"
                                                                                     name="level" value="상급자"/>
                    상급자</label>
                <div class="levelpic">
                    <p class="leveltext">Level</p>
                    <div class="locationlevel">
                        <img src="../static/img/lowlevel.png" class="levelimg1">
                        <img src="../static/img/middlelevel.png" class="levelimg2">
                        <img src="../static/img/highlevel.png" class="levelimg3">
                    </div>
                </div>
            </div>
            <div class="inputbtn">
                <input value="회 원 가 입" class="signupbtn" style="font-family: SB_L; text-align: center; font-size: 1vw;" id="btn-signup">
            </div>
        </div>
    </form>

    <div>
        <img src="../static/img/login.png" type="button" id="btn-login" class="btn-login loginbtn">
    </div>

    <script type="text/javascript" src="../static/js/second.js"></script>
{% endblock %}