{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/workout.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/workout.js"></script>
{% endblock %}

{% block title %}WORKOUT{% endblock %}

{% block content %}

    <img src="../static/img/workoutback.jpg" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">

    <div class="fullcontain">
        <div>
            <button id="SBL_font" class="w-btn w-btn-indigo" type="button" onclick="modalOn()"
                    style="position: absolute; top: 20%; left: 15%; width: 20vw;">
                TODAY
            </button>
            <button id="SBL_font" class="w-btn w-btn-indigo" type="button" onclick="modalOn2()"
                    style="position: absolute; top: 30%; left: 15%; width: 20vw;">
                LEVEL
            </button>
            <button id="SBL_font" class="w-btn w-btn-indigo" type="button" onclick="modalOn3()"
                    style="position: absolute; top: 40%; left: 15%; width: 20vw;">
                GENDER
            </button>
        </div>

        <div class="modalbox" id="modal" style="display: none;">
            <p id="SBL_font" style="position: absolute; left: 40%;" onclick="modalOff()">TODAY'S WORKOUT</p>
            <div class="recom1">
                <iframe src="https://www.youtube.com/embed/2N7AVUNJzRA?autoplay=1&mute=1&controls=0&loop=1&playlist=2N7AVUNJzRA"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 전신</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 상급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 10min / 횟수 : 1회</p>
            </div>
            <div class="recom2">
                <iframe src="https://www.youtube.com/embed/2N7AVUNJzRA?autoplay=1&mute=1&controls=0&loop=1&playlist=2N7AVUNJzRA"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 전신</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 상급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 10min / 횟수 : 1회</p>
            </div>
            <div class="recom3">
                <iframe src="https://www.youtube.com/embed/2N7AVUNJzRA?autoplay=1&mute=1&controls=0&loop=1&playlist=2N7AVUNJzRA"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 전신</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 상급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 10min / 횟수 : 1회</p>
            </div>
        </div>
    </div>

    <div class="modalbox" id="modal2" style="display: none;">
            <p id="SBL_font" style="position: absolute; left: 40%;" onclick="modalOff2()">Level 별 운동</p>
            <div class="recom1">
                <iframe src="https://www.youtube.com/embed/7YbqxhL2UB8?autoplay=1&mute=1&controls=0&loop=1&playlist=7YbqxhL2UB8"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 하체</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 하급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 20min / 횟수 : 1회</p>
            </div>
            <div class="recom2">
                <iframe src="https://www.youtube.com/embed/7YbqxhL2UB8?autoplay=1&mute=1&controls=0&loop=1&playlist=7YbqxhL2UB8"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 하체</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 중급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 20min / 횟수 : 1회</p>
            </div>
            <div class="recom3">
                <iframe src="https://www.youtube.com/embed/7YbqxhL2UB8?autoplay=1&mute=1&controls=0&loop=1&playlist=7YbqxhL2UB8"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 하체</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 상급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 20min / 횟수 : 1회</p>
            </div>
        </div>
    </div>

    <div class="modalbox" id="modal3" style="display: none;">
            <p id="SBL_font" style="position: absolute; left: 40%;" onclick="modalOff3()">남/녀 별 운동추천</p>
            <div class="recom1">
                <iframe src="https://www.youtube.com/embed/SxCMUHS8kGk?autoplay=1&mute=1&controls=0&loop=1&playlist=SxCMUHS8kGk"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 엉덩이</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 중급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 7min / 횟수 : 2회</p>
            </div>
            <div class="recom2">
                <iframe src="https://www.youtube.com/embed/SxCMUHS8kGk?autoplay=1&mute=1&controls=0&loop=1&playlist=SxCMUHS8kGk"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 엉덩이</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 중급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 7min / 횟수 : 2회</p>
            </div>
            <div class="recom3">
                <iframe src="https://www.youtube.com/embed/SxCMUHS8kGk?autoplay=1&mute=1&controls=0&loop=1&playlist=SxCMUHS8kGk"
                        title="workout" frameborder="0" style="width: 100%;"></iframe>
                <p id="SBL_font" class="modaltext"> 운동 부위 : 엉덩이</p>
                <p id="SBL_font" class="modaltext"> 난이도 : 중급자</p>
                <p id="SBL_font" class="modaltext"> 권장 시간 : 7min / 횟수 : 2회</p>
            </div>
        </div>
    </div>

{% endblock %}

{#    Photo Designed By 壮年听雨 From <a href="https://kr.lovepik.com/image-400113020/health-movement-background.html">LovePik.com</a>#}