{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <link href="../../static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/eat.css' %}" rel="stylesheet" type="text/css"/>
    {#    <script type="text/javascript" src="../../static/js/eat.js"></script>#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="../../static/js/eat.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block title %}EAT{% endblock %}

{% block content %}
    {# header #}
    {#    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background-color: #000f1d;"></div>#}

    {# header #}
    <div class="header">
        <h2 id="SBL_font" class="movemain" onclick="location.href='/eat/'">RECIPE</h2>
        <h3 class="eattext1" onclick="location.href={% url 'workout' %}" >Work out</h3>
        <h3 class="eattext2" onclick="location.href={% url 'commu' %}">Board</h3>
        <h3 class="eattext3" onclick="location.href='/mypage/{{ user.id }}'">My page</h3>
        <h3 class="eattext4" onclick="location.href={% url 'main' %}">Main</h3>
        <h3 class="eattext5" onclick="location.href='/second/logout'">Logout</h3>
        <img src="../static/img/logo.png" class="eatlogo">
    </div>
    <form action="/eat/search/" method="GET">
            <input class="recipe_search" type="text" name="search_recipe">
    </form>


    {#city_product_price#}
    <div class="product_price_taps">

        <ul class="tabs">
            {% for i in code %}
                <li class="tab-link current" data-tab="tab-{{ forloop.counter }}">{{ i }}</li>
            {% endfor %}
            {#            <li class="tab-link" data-tab="tab-2">{{ code }}</li>#}
            {#            <li class="tab-link" data-tab="tab-3">Tab Three</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
            {#            <li class="tab-link" data-tab="tab-4">Tab Four</li>#}
        </ul>
        <div id="tab-1" class="tab-content current">
            {% for i in seoul %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-2" class="tab-content">
            {% for i in busan %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-3" class="tab-content">
            {% for i in daegu %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-4" class="tab-content">
            {% for i in incheon %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-5" class="tab-content">
            {% for i in gwangju %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-6" class="tab-content">
            {% for i in daejeon %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-7" class="tab-content">
            {% for i in ulsan %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-8" class="tab-content">
            {% for i in suwon %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-9" class="tab-content">
            {% for i in chuncheon %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-10" class="tab-content">
            {% for i in chungju %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-11" class="tab-content">
            {% for i in jeonju %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-12" class="tab-content">
            {% for i in pohang %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-13" class="tab-content">
            {% for i in jeju %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-14" class="tab-content">
            {% for i in suncheon %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-15" class="tab-content">
            {% for i in andong %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>
        <div id="tab-16" class="tab-content">
            {% for i in changwon %}
                <p>{{ i.item_name }} {{ i.day1 }}:{{ i.dpr1 }}(원) {{ i.day2 }}:{{ i.dpr2 }}(원) {{ i.value }}% {{ i.unit }}</p>
            {% endfor %}
        </div>


    </div>

    {% if error %}
        <h1>{{ error }}</h1>
    {% else %}
        {#recipe#}
        <div id="container">
            {% for i in page.object_list %}
                <div class="recipe">
                    <a href="/eat/detail/{{ i.id }}"> <img class="foodimg" src="{{ i.image }}"> </a>
                    <a>&nbsp;</a>
                    <p class="foodname shadow">{{ i.title }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {# pagination #}
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center;">
            <li class="page-item"><a class="page-link" href="?page=1" class="first" style="color: orangered">First
                Page </a></li>
            {#        {% if page.has_previous %}#}
            {#            <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">이전</a></li>#}
            {#        {% endif %}#}
            {% for page_num in page.paginator.page_range %}
                {% if page_num > page.number|add:-2 and page_num <= page.number|add:3 %}
                    <li><a style="color: mediumpurple;" class="page-link"
                           href="?page={{ page_num }}&search_recipe={{ search }}">{{ page_num }} </a></li>
                    {#            {% elif page_num > page.number|add:-3 and page_num <= page.number|add:3 %}#}
                    {#            ...#}
                {% endif %}
            {% endfor %}
            <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}&search_recipe={{ search }}">Last Page</a></li>
            {#        {% if page.has_next %}#}
            {#            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">다음</a></li>#}
            {#        {% endif %}#}
        </ul>
    </nav>

    <div class="animation-area hint">
        <ui class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ui>
    </div>

    {#<script src="../static/js/particles2.js"></script>#}
    {#<script src="../static/js/app2.js"></script>#}

{% endblock %}