{% extends 'base.html' %}

{% load static %}

{% block title %}
EAT_DETAIL
{% endblock %}

{% block others %}
    <meta charset="UTF-8">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/eat_detail.css' %}" rel="stylesheet" type="text/css"/>
    {#    <script type="text/javascript" src="../../static/js/eat.js"></script>#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static 'js/eat_detail.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div class="header">
        <h2 id="SBL_font" class="movemain" onclick="location.href='/eat/'">RECIPE</h2>
        <h3 class="eattext1">Recommendation</h3>
        <h3 class="eattext2">Meat</h3>
        <h3 class="eattext3">Vegetable</h3>
        <h3 class="eattext4" onclick="location.href=/main/'">Main</h3>
        <h3 class="eattext5" onclick="location.href=/second/'">Logout</h3>
        <img src="{% static 'img/logo.png' %}" class="eatlogo" style="float: right; width: 25vw;">
    </div>
    {# recipe #}
    <div id="container">
        <a>&nbsp;</a>
        <a>&nbsp;</a>
        <img src="{{ recipe.image }}" class="foodimg">
        <a>&nbsp;</a>
        <div class="title">
            <p class="shadow">{{ recipe.title }}</p>
        </div>

        <div class="ingredients">
            <p class="shadow">재료:&nbsp;</p>
            {% for ingredient in recipe.ingredients %}
                <p class="shadow">{{ingredient}}&nbsp;</p>
            {% endfor %}
        </div>



        <div class="step">
            <p>조리 순서</p>
            {% for step in recipe.step %}
                <p>{{ forloop.counter }}. {{ step }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="recommend">추천
        {% for i in similar %}
        <div class="recommend_list">
            추천 리스트
        </div>
        {% endfor %}
    </div>
    <div class="animation-area">
        <ui class="box-area">
            <li>리스트</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ui>
    </div>

{% endblock %}