{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="{% static 'css/workout/nolevel.css' %}" rel="stylesheet" type="text/css"/>
{#    <link href="/static/css" rel="stylesheet" type="text/css"/>#}

{% endblock %}

{% block title %}FIGURE_OUT YOUR LEVEL{% endblock %}

{% block content %}

    <div class="fullcontain">
        <div class="box">
            <div class="first_box">
                <p>당신의 운동능력을 알아봅시다.</p>
                <p>가까운 체력인증센터에 가서 체력등급을 알아보고 싶다면</p>
                <button>체력인증센터 알아보기</button>
            </div>

            <div class="second_box">
                <p>간단히 집에서 측정해 보고 싶다면</p>
                <a href="{% url 'age_different_show_page' %}">운동능력 테스트하러 가기</a>
            </div>

        </div>
    </div>


{% endblock %}