{% extends 'base.html' %}
{% load static %}

{% block others %}
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="{% static 'css/workout/student_and_adult_level_text.css' %}" rel="stylesheet" type="text/css"/>
    <script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: 'RZ4xuuFnZiU'
        });
    }

     var tag2 = document.createElement('script1');

    tag2.src = "https://www.youtube.com/iframe_api";
    var secondScriptTag = document.getElementsByTagName('script1')[0];
    secondScriptTag.parentNode.insertBefore(tag2, secondScriptTag);

    var player2;
    function onYouTubeIfram(){
        $('#stretching_box').show()
        player2 = new YT.Player('player2', {videoId: '9B58JBknwV4' });
        document.getElementsByClassName("fullcontain")[0].style.height = "200vh";
        $('.close_stretching').show()
    }
    function close_stretching(){
            $('#stretching_box').hide()
            $('.close_stretching').hide()
        }
    </script>
{% endblock %}

{% block title %}LEVEL TEST{% endblock %}

{% block content %}
    <div id="progressbar"></div>
    <div id="scrollpath"></div>

    <div class="fullcontain">
        <div class="header" style="display: flex">
            <h3 class="itemtext1" onclick="location.href={% url 'commu' %}">Board</h3>
            <h3 class="itemtext2" onclick="location.href={% url 'eat' %}">Eat</h3>
            <h3 class="itemtext3" onclick="location.href={% url 'workout' %}">Work out</h3>
            <h3 class="itemtext4" onclick="window.location.href='/second/logout'">Logout</h3>
            <h3 class="itemtext5" onclick="window.location.href='/mypage/{{ user.id }}'">Mypage</h3>
            <h3 class="itemtext6" onclick="location.href={% url 'main' %}">Main</h3>
            <img src="{% static 'img/logo.png' %}" class="itemlogo">
        </div>
        <div class="box">
            <p>당신의 운동능력을 알아봅시다.</p>
            <div>
                <h1>윗몸 일으키기 </h1>
                <div>
                    <div>
                        <div id="player"></div>
                    </div>
                    <p>준비물 : 요가매트 혹은 얇은 이불, 스마트폰 </p>
                    <div class="text_box">
                        <p class="description"> 1. 동영상을 보며 체력측정 방법과 주의사항을 확인합니다.</p>
                        <p class="description"> 2. 다치지 않도록 <button id="stretching" onclick="onYouTubeIfram()"> 스트레칭(클릭)</button>으로 몸을 풀어준뒤 실시합니다.</p>
                            <div id ="stretching_box" style="">
                                <div id="player2"></div>
                                <button class="close_stretching" style="display: none" onclick="close_stretching()">닫기</button>
                            </div>
                        <p class="description"> 3. 요가매트 혹은 얇은 이불을 깐상태로 눕습니다.</p>
                        <p class="description"> 4. <a href="https://www.youtube.com/watch?v=evnL4gfl3Cc" target="_blank" class="hyperlink"> 준비된음원(클릭시 새탭/새창으로열립니다)</a>이 있습니다. </p>
                        <p class="slice_sentence"> 미리확인하여 음원에 맞게 실시할 수 있도록 합니다.</p>
                        <p class="description"> 5. 준비된음원의 신호음이 들릴때 윗몸말아올리기를 실시합니다.</p>
                        <p class="description"> 6. 스마트폰으로 자신의 모습을 촬영하면 횟수를 세기 쉽습니다.</p>
                        <p class="description"> 7. 자신이 할 수 있는만큼만 실시한뒤 아래의 입력창에 횟수를 입력합니다.</p>
                    </div>
                </div>
            </div>

            <form method="post" action="{% url 'level_confirm' user.id %}" style="margin-top: 1vw;">
            {% csrf_token %}
                윗몸 말아올리기를 실시한 후 횟수를 입력하세요: <input type="number" name="count" placeholder="윗몸말아올리기 횟수입력">회<br>
                <button>제출하기</button>
            </form>

            <p>더 정확한 체력등급을 알아보고 싶다면</p>
            <button><a style="text-decoration: none" href="http://14.49.46.105/front/center/centerIntroList.do" target="_blank">체력인증센터 알아보기</a></button>
        </div>
    </div>

    <script>
        let progress = document.getElementById('progressbar');
        let totalHeight = document.body.scrollHeight - window.innerHeight;
        window.onscroll = function (){
            let progressHeight = (window.pageYOffset / totalHeight) * 100;
            progressHeight.style.height = progressHeight + "%";
        }
    </script>



{% endblock %}